div.dt-layout-row {
  margin: 6px !important;
}

div.dt-container .dt-paging .dt-paging-button {
  padding: 0px !important;
}

div.dt-container .dt-paging .dt-paging-button.current {
  background: linear-gradient(to bottom right, var(--bs-primary), var(--bs-teal)) !important;
  color: white !important;
}

.cifor-gradient-primary {
    background: linear-gradient(to bottom right, #2A7B9B 0%, #57C785 40%, #EDDD53 100%);
}

.cifor-gradient-primary:hover {
    cursor: pointer;
}

.bg-cover {
    background-size: cover;
}

.oblique .oblique-image {
    transform: skewX(-10deg);
    border-radius: 0 0 0 16px;
}

.navbar-sticky-top {
  position: sticky !important;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden !important; 
  z-index: 9999 !important;
  border-radius: 0 !important;
}

.navbar-sticky-top.scrolled {
  backdrop-filter: blur(40px) saturate(180%);
  -webkit-backdrop-filter: blur(40px) saturate(180%);
  background-color: rgba(230, 236, 240, .75);
  border: 1px solid rgba(255, 255, 255, .125);
  transition: background-color 100ms linear;
}

.page-header {
    align-items: center;
    background-position: 50%;
    background-size: cover;
    display: flex;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.cifor-text-gradient {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to bottom right, #57C785, #EDDD53);
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

.text-info {
    color: #2A7B9B !important;
}

.text-gray-50 {
  color: #9A9A9A;
}

.text-gray-200 {
  color: #ADADAD;
}

.is-invalid {
    color: red;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 74px;
  height: calc(27px*0.866 + 6px);
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  background:#FD135A;
  --c1:conic-gradient(from 150deg at top   ,#000 60deg,#0000 0);
  --c2:conic-gradient(from -30deg at bottom,#000 60deg,#0000 0);
  --s:27px calc(27px*0.866);
  clip-path: polygon(17px 0,calc(100% - 17px) 0,100% 100%,0 100%);
  -webkit-mask:
    var(--c1) left  6px top 4px,
    var(--c2) center,
    var(--c1) right 6px top 4px,
    linear-gradient(#000 0 0);
  -webkit-mask-composite:xor;
  mask-composite:exclude;
  -webkit-mask-repeat:no-repeat;
  animation: l6 2s infinite both;
}
.loader:after {
  transform: rotate(180deg);
  transform-origin: 50% 99%;
  animation-delay: 0.5s;
}
@keyframes l6 {
  0%    {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
  8.33% {-webkit-mask-size:var(--s),0    0  ,0    0  ,auto}
  16.67%{-webkit-mask-size:var(--s),var(--s),0    0  ,auto}
  25%,
  50%   {-webkit-mask-size:var(--s),var(--s),var(--s),auto}
  58.33%{-webkit-mask-size:0    0  ,var(--s),var(--s),auto}
  66.67%{-webkit-mask-size:0    0  ,0    0  ,var(--s),auto}
  75%,
  100%  {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
}

.cf-modal {
  display: none;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auth;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.cf-modal-header {
  display: block;
  background-color: #FFFFFF !important;
  border: 1px solid #AAA;
  padding: 2px 16px;
  z-index: 2;
  border-radius: 16px 16px 0 0;
  width: 40%;
}

.cf-modal-content {
  background-color: #F3F3F3;
  padding: 20px;
  border: 1px solid #AAA;
  width: 40%;
  border-radius: 0 0 16px 16px;
}

.m-close {
  color: #AAA;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.m-close:hover,
.m-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer !important;
}